.advanced-landing {
  width: "100%";
  height: stretch;
  align-items: center;
  flex: 1;
}

.filter-panel-container {
  margin: 0 auto;
  background-color: white;
  float: left;
  height: 100%;
  width: 20%;
}

.filter-panel {
  background-color: white;
  display: flex;
  flex-flow: column;
}

.filter-panel-button {
  flex: 1 0 auto;
  width: 100%;
}

.slider-wrapper {
  padding: 5%;
  flex: 1 0 auto;
}
