/* ADVANCED PAGE LAYOUT STYLES */
.advanced-landing {
  width: "100%";
  height: stretch;
  display: flex;
  flex-flow:column;
}

.advanced-content {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  height: stretch;
}

.filter-panel-container {
  background-color: white;
  height: 100%;
  width: 20%;
}

.result-panel-container {
  background-color: white;
  flex: 1 0 auto;
}

/* RESULT PANEL STYLES */

.result-panel {
  width: "100%";
  margin: auto;
  display: flex;
  flex-flow: column;
}

.result-cards {
  display: flex;
  flex-flow: row;
  width: "100%";
  margin: auto;
  text-align: center;
}

.custom-card {
  flex: 1 ;
}

.map-box {
  padding: 5%;
}

/* SIDEBAR STYLES */
.sidebar {
  height: 100%;
}

.panel-content {
  background-color: white;
  display: flex;
  flex-flow: column;
}

.filter-panel-button {
  flex: 1 0 auto;
  width: 100%;
}

.slider-wrapper {
  padding: 5%;
  flex: 1 0 auto;
}
