/* The entire scrolling page */
.scroll {
  height: auto;
  width:"100%";
}

/* One screen-height's worth of the scrolling page */
.page {
  width: "100%";
  height: stretch;
}

/* The home component (search page below nav bar) */
.home {
  /* background-image: url('../assets/background.jpg'); */
  height: -webkit-fill-available;
  background-color: #151537;
  display: flex;
  flex-flow: row;
  align-items: center;
}


.search-card-container {
  width: 100%;
  align-items: center;
  padding-left: 15%;
  /* padding-top: 5% */
}

.search-card {
  margin: 0 auto;
  background-color: white;
  height: 30em;
  float: left;
  width: 30%;
}

.about {
  width: "100%";
  height: stretch;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-jumbo {
  margin: 0 auto;
  vertical-align: middle;
  width: 50%
}
