.landing {
  color: yellow;
}

.landingJumbo {
  position: relative;
  margin-top: 1em;
  height: 50%;
  background-color: light-gray;
}

.home {
  width: "100%";
  height: fill;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-card-container {
  width: 100%;
  vertical-align: middle;
  padding-left: 15%;
}

.search-card {
  margin: 0 auto;
  height: 40em;
  float: left;
  width: 25%;
}

.home-caption {
  width: 100%;
}
